language: python

python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"

# This is required to test on Python 3.7 at the moment.
matrix:
  include:
    - python: 3.7
      dist: xenial
      sudo: true

script:
 - PYTHONPATH=. pytest
 - PYTHONPATH=. python ./tests/integration_tests.py
