# suricata-update - my.cnf

# Specify the mysql connection parameters here.
# Database must exist first.

[client]
database = suricata_rules
user = user
password = password
host = localhost
default-character-set = utf8
