# suricata-update - my.cnf

# Specify the mysql connection parameters here.
# Database must exist first.

[client]
database = suricata_rules
user = website
password = W3bPa55
default-character-set = utf8
